absl-py==0.15.0
aiohttp==3.6.2
alabaster==0.7.10
altgraph==0.17
anaconda-client==1.6.3
anaconda-project==0.6.0
asn1crypto==0.22.0
astor==0.8.0
astral==1.4
astroid==1.4.9
astropy==4.1
astroquery==0.4.6
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
audioread==2.1.8
Babel==2.4.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
blaze==0.10.1
bleach==1.5.0
blis==0.4.1
bokeh==0.12.5
boto==2.46.1
Bottleneck==1.2.1
cached-property==1.5.2
cachetools==4.1.1
carnatic==0.7.5
catalogue==1.0.0
certifi==2021.10.8
cffi==1.10.0
chardet==3.0.4
clang==5.0
click==7.1.2
cliez==2.1.1
clockblocks==0.5.3
cloudpickle==0.2.2
clyent==1.2.2
colorama==0.3.9
comb==0.9.10
comtypes==1.1.7
conda==4.3.30
contextlib2==0.5.5
cowin==0.0.5
cryptography==1.8.1
cycler==0.10.0
cymem==2.0.3
Cython==0.25.2
cytoolz==0.8.2
dash==1.9.1
dash-bootstrap-components==0.9.1
dash-core-components==1.8.1
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.1
dask==0.14.3
dataclasses==0.7
datashape==0.5.4
decorator==4.0.11
demjson==2.2.4
distributed==1.16.3
distro==1.7.0
docopt==0.6.2
docutils==0.13.1
entrypoints==0.2.2
ephem==3.7.7.0
et-xmlfile==1.0.1
expenvelope==0.6
fake-useragent==0.1.11
fastai==1.0.57
fastcache==1.0.2
fastprogress==0.2.3
fbs==0.9.9
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.4.1
Flask==1.1.1
Flask-Compress==1.4.0
Flask-Cors==3.0.2
flatbuffers==1.12
fpdf==1.7.2
future==0.18.2
gast==0.4.0
geocoder==1.32.1
geographiclib==1.50
geopy==1.21.0
gevent==1.2.1
google==2.0.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
google-search==1.0.2
greenlet==0.4.12
grpcio==1.34.1
gTTS==2.1.1
gTTS-token==1.1.4
gunicorn==20.0.4
h5py==3.1.0
HeapDict==1.0.0
html5lib==0.9999999
huggingface-hub==0.4.0
idna==2.10
idna-ssl==1.1.0
imageio==2.9.0
imagesize==0.7.1
img2pdf==0.4.3
importlib-metadata==1.6.1
imutils==0.5.3
indic-nlp-library==0.6
iniconfig==1.1.1
inltk==0.8.1
ipykernel==4.6.1
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.2.5
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
Jinja2==2.11.1
joblib==0.17.0
jsonschema==2.6.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
kaggle==1.5.6
keras==2.5.0rc0
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.3.1
lazy-object-proxy==1.2.2
libclang==14.0.6
llvmlite==0.18.0
locket==0.2.0
lxml==4.7.1
macholib==1.14
Markdown==3.3.3
MarkupSafe==0.23
matplotlib==3.3.2
med2image==2.2.4
menuinst==1.4.7
MIDIUtil==1.2.1
mido-fix==1.2.12
mimeparse==0.1.3
mistune==0.7.4
Morfessor==2.0.6
mpmath==1.2.1
msgpack-python==0.4.8
multidict==4.7.6
multipledispatch==0.4.9
murmurhash==1.0.2
musicpy==5.56
nbconvert==5.1.1
nbformat==4.3.0
networkx==1.11
nibabel==2.1.0
nltk==3.5
nose==1.3.7
notebook==5.0.0
numba==0.33.0
numexpr==2.6.2
numpy==1.19.5
numpydoc==0.6.0
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
odo==0.5.0
olefile==0.44
Open-Tamil==0.97
opencv-python==4.5.3.56
openpyxl==2.4.7
opt-einsum==3.3.0
packaging==21.3
pandas==1.2.4
pandocfilters==1.4.1
partd==0.3.8
path.py==10.3.1
pathlib2==2.2.1
patsy==0.4.1
pdoc==0.4.1
pefile==2019.4.18
pep517==0.13.0
pep8==1.7.0
pfmisc==1.4.0
pickleshare==0.7.4
pikepdf==3.2.0
Pillow==8.3.1
pip-tools==6.4.0
pipreqs==0.4.11
pkgconfig==1.5.1
plac==1.1.3
playsound==1.2.2
plotly==4.5.4
pluggy==0.13.1
ply==3.10
preshed==3.0.2
prettytable==1.0.0
prompt-toolkit==1.0.14
protobuf==3.14.0
psutil==5.2.2
pudb==2019.2
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycodestyle==2.3.1
pycosat==0.6.2
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
pydicom==2.0.0
pydotplus==2.0.2
pydub==0.25.1
pyflakes==1.5.0
pyFluidSynth==1.3.1
pygame==2.1.2
Pygments==2.2.0
PyInstaller==3.4
pyinstaller-hooks-contrib==2020.10
pylint==1.6.4
pymusicxml==0.3.3
pyodbc==4.0.16
PyOpenGL==3.1.0
pyOpenSSL==17.0.0
pyparsing==2.1.4
pyperclip==1.8.2
pypiwin32==223
PyQt6==6.2.3
PyQt6-Qt6==6.2.3
PyQt6-sip==13.2.1
PySide2==5.15.2
pyswisseph @ file:///D:/LaptopBackup/Local/Anaconda/Lib/site-packages/pyswisseph-2.8.0.post2-cp36-cp36m-win_amd64.whl
pytesseract==0.3.4
pytest==6.2.3
python-chess==0.31.4
python-dateutil==2.8.2
python-dotenv==0.19.0
python-math==0.0.1
python-osc==1.7.4
python-slugify==4.0.0
pyttsx3==2.88
pytube3==9.6.4
pytz==2022.6
pyvo==1.1
PyWavelets==0.5.2
pywin32==227
PyYAML==6.0
pyzmq==16.0.2
qt6-applications==6.1.0.2.2
qt6-tools==6.1.0.1.2
ratelim==0.1.6
regex==2021.4.4
requests==2.25.0
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.10.7
rope-py3k==0.9.4.post1
rsa==4.6
sacremoses==0.0.53
scamp==0.7.3
scikit-learn==0.18.1
scipy==1.5.4
sentencepiece==0.1.91
sf2-loader==1.15
sf2utils==0.9.0
shiboken2==5.15.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.6
six==1.15.0
sklearn==0.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
sounddevice==0.4.2
SoundFile==0.10.3.post1
spacy==2.2.4
SpeechRecognition==3.8.1
sphinx==1.5.6
spyder==3.2.5
spyder-notebook==0.1.1
SQLAlchemy==1.1.9
srsly==1.0.2
statsmodels==0.8.0
sympy==1.8
tables==3.2.2
tabula-py==2.3.0
tabulate==0.8.7
tblib==1.3.2
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-tensorboard==0.1.6
tensorflowjs==3.9.0
termcolor==1.1.0
testpath==0.3
text-unidecode==1.3
thinc==7.4.0
threadpoolctl==2.1.0
timezonefinder==4.2.0
tokenizers==0.12.1
toml==0.10.2
tomli==1.2.3
toolz==0.8.2
torch==1.7.0+cpu
torchaudio==0.7.0
torchvision==0.8.1+cpu
tornado==4.5.1
tqdm==4.49.0
traitlets==4.3.2
transformers==4.18.0
twine==3.2.0
typing==3.7.4.1
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.26.2
urwid==2.1.0
wasabi==0.6.0
wcwidth==0.1.7
Werkzeug==1.0.1
widgetsnbextension==2.0.0
wikipedia==1.4.0
win-unicode-console==0.5
wrapt==1.12.1
xlrd==1.0.0
XlsxWriter==0.9.6
xlwings==0.10.4
xlwt==1.2.0
xmltodict==0.12.0
yarg==0.1.9
yarl==1.4.2
zict==0.1.2
zipp==3.1.0
